# Fluent Python

참고<br>
http://shop.oreilly.com/product/0636920032519.do <br>
https://github.com/fluentpython

In [6]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" #'last' 기본값

## CHAPTER1 파이썬 데이터 모델

파이썬스러움 pythonic

magic method 
- __getitem__() 
- 더블 언더바 던드 메서드


#### Table 1-1. Special method names (operators excluded).
	string/bytes representation 
		__repr__ , __str__ , __format__ , __bytes__
	conversion to number 
		__abs__ , __bool__ , __complex__ , __int__ , __float__ , __hash__ , __index__
	emulating collections 
		__len__ , __getitem__ , __setitem__ , __delitem__ , __contains__
	iteration 
		__iter__ , __reversed__ , __next__
	emulating callables 
		__call__
	context management 
		__enter__ , __exit__
	instance creation and destruction 
		__new__ , __init__ , __del__
	attribute management 
		__getattr__ , __getattribute__ , __setattr__ , __delattr__ , __dir__
	attribute descriptors 
		__get__ , __set__ , __delete__
	class services 
		__prepare__ , __instancecheck__ , __subclasscheck__


#### Table 1-2. Special method names for operators.
	unary numeric operators 
		__neg__ - , __pos__ +, __abs__ abs()
	rich compartison operators 
		__lt__ >, __le__ <=, __eq__ ==, __ne__ !=, __gt__ >, __ge__ >=
	arithmetic operators 
		__add__ +, __sub__ - , __mul__ *, __truediv__ /, __floordiv__ //, __mod__%, __divmod__ divmod() , __pow__ ** or pow() , __round__ round()
	reversed arithmetic operators 
		__radd__ , __rsub__ , __rmul__ , __rtruediv__ , __rfloordiv__ , __rmod__ , __rdivmod__ , __rpow__
	augmented assignment arithmetic operators 
		__iadd__ , __isub__ , __imul__ , __itruediv__ , __ifloordiv__ , __imod__ , __ipow__
	bitwise operators 
		__invert__ ~, __lshift__ <<, __rshift__ >>, __and__ &, __or__ |,__xor__ ^
	reversed bitwise operators 
		__rlshift__ , __rrshift__ , __rand__ , __rxor__ , __ror__
	augmented assignment bitwise 
		__ilshift__ , __irshift__ , __iand__ , __ixor__ , __ior__

## CHAPTER 2 An array of sequences

* 지능형 리스트는 더이상 메모리를 누수하지 않는다. <br> 
지능형 집합과 지능형 덱셔너리는 함수처럼 고유한 지역 범위를 가진다.

In [7]:
x = 'abc'
dummy = [ord(x) for x in x]
x
dummy

'abc'

[97, 98, 99]

* 지능형 리스트와 map()/filter() 비교 <br>
map() 과 filter() 함수를 이용해서 수행할 수 있는 작업은 기능적으로 문제가 있는 파이썬 람다를 억지로 끼워 넣지 않고도 지능형 리스트를 이용해서 모두 구현할 수 있다.

In [8]:
symbols = '$¢£¥€¤'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
beyond_ascii
beyond_ascii = list(filter(lambda c: c>127, map(ord, symbols)))
beyond_ascii

[162, 163, 165, 8364, 164]

[162, 163, 165, 8364, 164]

* 지능현 리스트를 이용한 데카르트 곱

In [10]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
tshirts
for color in colors:
    for size in sizes:
        print((color, size))
tshirts = [(color, size) for size in sizes
                        for color in colors]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

* 제너레이터 표현식에서의 데카르트 곱

In [12]:
for tshirt in ('%s %s' % (c, s) for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

* '*' 초과 항목 잡기

In [13]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

* 튜플 언패킹

In [14]:
metro_areas = [
('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <=0:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

* 명명된 튜플<br>
collections.namedtuple() 함수는 필드명과 클래스 명을 투가한 튜플의 서브클래스를 생성하는 팩토리 함수로서, 디버깅할 때 유용하다.

In [16]:
from collections import namedtuple

In [17]:
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo
tokyo.population
tokyo.coordinates
tokyo[1]

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

36.933

(35.689722, 139.691667)

'JP'

* 단순 텍스트 파일 행 항목들

In [22]:
invoice = """
0.....6.................................40........52...55........
1909  Pimoroni PiBrella                  $17.50    3    $52.50
1489  6mm Tactile Switch x20             $4.95     2    $9.90
1510  Panavise Jr. - PV-201              $28.00    1    $28.00
1601  PiTFT Mini Kit 320x240             $34.95    1    $34.95
"""

In [23]:
SKU = slice(0,6)
DESCRIPTION = slice(6, 40)
UNIT_PRICE = slice(40, 52)
QUANTITY = slice(52, 55)
ITEM_TOTAL = slice(55, None)
line_items = invoice.split('\n')[2:]
for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

 $17.50    3 Pimoroni PiBrella
 $4.95     2 6mm Tactile Switch x20
 $28.00    1 Panavise Jr. - PV-201
 $34.95    1 PiTFT Mini Kit 320x240

* 세 개의 마침표 (...) <br>
ellipsis 클래스의 객체 <br>
예를 들어 x 가 4차원 배열이라면 x[i,...] 는 x[i,:,:,:,:] 와 동일하다.

* += 연산자 \__iadd\__() 구현되어 있지 않은 경우 \__add\__() 를 호출한다.

* 튜플 할당 <br>
온라인 파이썬 튜터 사이트 http://www.pythontutor.com 파이썬이 어떻게 동작하는지 알 수 있다.

In [25]:
t = (1, 2, [30, 40])
t[2] += [50,60]

TypeError: 'tuple' object does not support item assignment

In [26]:
t

(1, 2, [30, 40, 50, 60])

튜플에는 할당되지 않지만 튜플안에 리스트에는 할당이 된다. <br>
주로 튜플안에 리스트를 넣어 사용하지 않는다.

* list.sort() 와 sorted() 함수 <br>
객체를 직접 변경하는 함수나 메서드는 객체가 변경되었고 새로운 객체가 생성되지 않았음을 호출자에게 알려주지 않기 위해 None을 반환해야 한다.

In [29]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
sorted(fruits, key=len, reverse=True)
fruits.sort()
fruits

['raspberry', 'banana', 'grape', 'apple']

['apple', 'banana', 'grape', 'raspberry']

* 시험 점수를 입력받아 등급 문자를 반환

In [31]:
import bisect
def grade(score, breakpoints=[60, 70, 80, 90], grades='FDCBA'):
    i = bisect.bisect(breakpoints, score)
    return grades[i]
[grade(score) for score in [30, 99, 77, 80, 100]]

['F', 'A', 'C', 'B', 'A']

* 객체 직렬화 pickle 
* 메모리뷰 (?)

* time 측정

In [38]:
from time import perf_counter as pc
t0 = pc()
1000 / 3
pc() - t0

333.3333333333333

0.0050779230004991405

* depue 는 중간 항목을 삭제하는 연산은 그리 빠르지 않다. 덱이 양쪽 끝에 추가하나 제거하는연산에 최적화되어 있기 때문인다.