from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" #'last' 기본값

In [1]:
import dask.dataframe as dd

In [2]:
import pandas as pd

In [3]:
from datetime import datetime

In [4]:
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(12, 4))

* Member Data
* Transaction Data 
    * 약 2G 정도의 데이터 DESK 이용 
* User Log Data 
    * 제외 약 4억건 대용량으로 하둡에서 처리 
* Train Data
* Test Data

## Member Data

In [ ]:
df = pd.read_csv("./rowdata/members_v2.csv/members_v2.csv", 
    dtype={"msno":str, "registration_init_time":str})
df[:10]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 795090 entries, 0 to 795089
Data columns (total 6 columns):
msno                      795090 non-null object
city                      795090 non-null int64
bd                        795090 non-null int64
gender                    318249 non-null object
registered_via            795090 non-null int64
registration_init_time    795090 non-null object
dtypes: int64(3), object(3)
memory usage: 36.4+ MB

In [ ]:
df3 = pd.read_csv("./rowdata/members_v3.csv/members_v3.csv", 
    dtype={"msno":str, "registration_init_time":str})
df3[:10]

In [ ]:
df.head()

In [7]:
df.city.isnull().sum()

0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6769473 entries, 0 to 6769472
Data columns (total 6 columns):
msno                      object
city                      int64
bd                        int64
gender                    object
registered_via            int64
registration_init_time    object
dtypes: int64(3), object(3)
memory usage: 309.9+ MB

In [9]:
 df['registration_init_time'] = df['registration_init_time'].map(lambda x : datetime.strptime(x, '%Y%m%d'))

In [10]:
type(df['registration_init_time'][0])

pandas._libs.tslib.Timestamp

In [11]:
df.describe()

               city            bd  registered_via
count  6.769473e+06  6.769473e+06    6.769473e+06
mean   3.847358e+00  9.795794e+00    5.253069e+00
std    5.478359e+00  1.792590e+01    2.361398e+00
min    1.000000e+00 -7.168000e+03   -1.000000e+00
25%    1.000000e+00  0.000000e+00    4.000000e+00
50%    1.000000e+00  0.000000e+00    4.000000e+00
75%    4.000000e+00  2.100000e+01    7.000000e+00
max    2.200000e+01  2.016000e+03    1.900000e+01

In [12]:
df.city.value_counts()

1     4804326
5      385069
13     320978
4      246848
22     210407
15     190213
6      135200
14      89940
12      66843
9       47639
11      47489
8       45975
18      38039
10      32482
21      30837
17      27772
3       27282
7       11610
16       5092
20       4233
19       1199
Name: city, dtype: int64

In [13]:
df.city.nunique()

21

In [14]:
df.bd.unique()

array([    0,    32,    30,    34,    19,    63,    18,    28,    29,
          31,    22,    23,    21,    27,    47,    38,    36,    26,
          58,    43,    33,    39,    24,    20,    25,    41,    17,
          54,    40,    45,    52,    56,    50,    35,    42,    49,
          44,    48,    57,    37,    51,    60,    46,    59,    53,
          16,    14,   104,    15,    64,    91,    69,    62,    55,
          61,    65,    75,   106,   108,    99,    68,    82,    95,
          90,    67,    96,    77,    66,   -39,     6,    76,   109,
          72,    13,    80,    93,     7,  1028,    94,   117,    70,
           4,   793,   105,   923,   107,   112,    73,    87,    88,
          86,    71,    81,    97,    85,    79,   102,   101,    78,
         111,     1,    89,    74,    84,   110,    98,  -518,   -51,
          12,    83,  1037,   103,   116,   100,    10,  1025,     5,
         220,    92,     9,   115,     8,  1039,  1052,  -506,   938,
          11,  -510,   -36,   240,  1031,   -43,   584,   944,  -958,
         137,   -48,     3,  1032,  -515,   217,     2,  1820,  -504,
        -519,   265,   143,   119,   151,   -47,   689,   183,   -42,
         959,   946,   -49,  -514,   122,   943,  -523,  -517,  -482,
        -520,   907,   936,  1018,  1062,  1030,  1043,  1017,   951,
         126,   141,   113,   930,  -508,  1034,  -974,  1819,   806,
        1033,   144,  1026,   -37,  -500,  -509,  1053,   942,   778,
        -516,  1046,  1008,   -46,  1011,   950,   155,   114,   125,
         -12,  1048,   124,  1040,  1036,   138,   153,   948,   827,
         -52, -7168,   826,  -511,   -45,  1041,   820,  1821,   118,
        -540,  -513,  1061,   743,  1937,  1038,  1045,   228,  1051,
        1049,   932,   357,   244,   164,  1029,   -44,   783,   129,
         -34,   -23,   128,  -521,   922,   761,   328,   131,   823,
         386,  -526,   -50,   319,   994,   132,   822,   160,   824,
         939,   947,   136,  2011,  1309,   685,   941,   937,  1213,
         340,    -5,   931,  1954,   933,   140,   -14,   -33,   -22,
        -512,   232, -6998,    -9,  1022,   120,   -32,   955,   332,
         -38,   519,   945,  -522,  -503,   940,   906,   935,   148,
         123,   139,   926,   949,   925,  2009,   322,   462,  1089,
        1009,   121,   163,  1058,  1111,   -41,  1050,   327,   197,
         -35,   -40,   929,   964,  1035,   825,  1019,   924,    -7,
        -501,  1958,  1042,   323,   837,  -493,   -31, -6807,   919,
         320,  -498,   786,   334,  -525,  -496,   321,  -502,   237,
         231,  1021,   821,  1970,   920,   819,  -527,   928,  -505,
          -8,  -497,  -176,   230,   934,  1056,   133, -1970,   649,
        -488,   -19,   810,  1421,  2014,   243, -2828,  1013,  1044,
        1501,  1946,  2016,   222, -6445,   167,   961,   -10,  -484,
        1968,  -489,  1064,  1949,  -507,  -956, -5978,  -951,   130,
        -529,   -30,  -178,   353,   954,  -524, -3152,   573], dtype=int64)

In [15]:
df.registered_via.value_counts()

 4     2793213
 3     1643208
 9     1482863
 7      805895
 11      25047
 13       5455
 8        3982
 5        3115
 17       1494
 2        1452
 6        1213
 19        974
 16        888
 14        615
 1          43
 10         10
 18          5
-1           1
Name: registered_via, dtype: int64

In [16]:
df[df.registered_via==7].registration_init_time.describe()

count                  805895
unique                   2705
top       2016-01-16 00:00:00
freq                     1831
first     2006-10-28 00:00:00
last      2017-04-29 00:00:00
Name: registration_init_time, dtype: object

In [17]:
df.isnull().sum()

msno                            0
city                            0
bd                              0
gender                    4429505
registered_via                  0
registration_init_time          0
dtype: int64

In [18]:
df.columns

Index(['msno', 'city', 'bd', 'gender', 'registered_via',
       'registration_init_time'],
      dtype='object')

In [19]:
df.msno.is_unique

True

In [20]:
df.gender.value_counts()

male      1195355
female    1144613
Name: gender, dtype: int64

In [21]:
df.registration_init_time.describe()

count                 6769473
unique                   4782
top       2015-10-09 00:00:00
freq                    12413
first     2004-03-26 00:00:00
last      2017-04-29 00:00:00
Name: registration_init_time, dtype: object

## Train Data

In [ ]:
traindf = pd.read_csv("./rowdata/train.csv/train.csv")
traindf.head()

In [23]:
traindf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992931 entries, 0 to 992930
Data columns (total 2 columns):
msno        992931 non-null object
is_churn    992931 non-null int64
dtypes: int64(1), object(1)
memory usage: 15.2+ MB

In [ ]:
traindf2 = pd.read_csv("./rowdata/train_v2.csv/train_v2.csv")
traindf2.head()

In [25]:
traindf2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970960 entries, 0 to 970959
Data columns (total 2 columns):
msno        970960 non-null object
is_churn    970960 non-null int64
dtypes: int64(1), object(1)
memory usage: 14.8+ MB

In [26]:
traindf.is_churn.value_counts()
traindf2.is_churn.value_counts()

0    883630
1     87330
Name: is_churn, dtype: int64

In [27]:
traindf.msno.is_unique
traindf2.msno.is_unique

True

In [28]:
df.columns

Index(['msno', 'city', 'bd', 'gender', 'registered_via',
       'registration_init_time'],
      dtype='object')

## Train1과 Train2 Data 유효성 검증

In [29]:
traindf[traindf['msno'].isin(traindf2['msno'])].count()

msno        881701
is_churn    881701
dtype: int64

In [30]:
traindf2[traindf2['msno'].isin(traindf['msno'])].count()

msno        881701
is_churn    881701
dtype: int64

In [31]:
traindf[traindf['msno'].isin(traindf2['msno'])==False].count()

msno        111230
is_churn    111230
dtype: int64

In [32]:
traindf2[traindf2['msno'].isin(traindf['msno'])==False].count()

msno        89259
is_churn    89259
dtype: int64

In [33]:
# train2 에 없는 train1 값만 추출 
nottrain2df = traindf[traindf['msno'].isin(traindf2['msno'])==False]

In [34]:
traindf2[traindf2['msno'].isin(nottrain2df['msno'])].count()

msno        0
is_churn    0
dtype: int64

In [35]:
# train2 와 train2에 없는 train1 값 합침 
trainAlldf = pd.concat([nottrain2df, traindf2])

In [36]:
trainAlldf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1082190 entries, 0 to 970959
Data columns (total 2 columns):
msno        1082190 non-null object
is_churn    1082190 non-null int64
dtypes: int64(1), object(1)
memory usage: 24.8+ MB

In [ ]:
df[df['msno'].isin(trainAlldf['msno'])==False].head()

In [38]:
trainAlldf[trainAlldf['msno']=='Rb9UwLQTrxzBVwCB6+bCcSQWZ9JiNLC9dXtM1oEsZA8=']

Empty DataFrame
Columns: [msno, is_churn]
Index: []

#### 확인 
Member 오리지널 데이터와 합쳐진 데이터 확인

In [39]:
ex = trainAlldf[trainAlldf['msno'].isin(df['msno'])==False]

In [40]:
ex.count()

msno        120759
is_churn    120759
dtype: int64

In [41]:
ex['msno'].is_unique

True

In [42]:
trainNmem = trainAlldf[trainAlldf['msno'].isin(df['msno'])]

In [43]:
trainNmem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 961431 entries, 0 to 970958
Data columns (total 2 columns):
msno        961431 non-null object
is_churn    961431 non-null int64
dtypes: int64(1), object(1)
memory usage: 22.0+ MB

In [44]:
ex2 = df[df['msno'].isin(trainAlldf['msno'])==False]

In [45]:
ex2.count()

msno                      5808042
city                      5808042
bd                        5808042
gender                    1897899
registered_via            5808042
registration_init_time    5808042
dtype: int64

## Member merge Train

In [43]:
mtdf = pd.merge(trainAlldf, df, how='left')

In [44]:
mtdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1082190 entries, 0 to 1082189
Data columns (total 7 columns):
msno                      1082190 non-null object
is_churn                  1082190 non-null int64
city                      961431 non-null float64
bd                        961431 non-null float64
gender                    442069 non-null object
registered_via            961431 non-null float64
registration_init_time    961431 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 66.1+ MB

In [ ]:
mtdf.head()

In [ ]:
mtdf.tail()

In [47]:
mtdf[mtdf['city'].isnull()].count()

msno                      120759
is_churn                  120759
city                           0
bd                             0
gender                         0
registered_via                 0
registration_init_time         0
dtype: int64

In [48]:
mtdf['msno'].is_unique

True

In [49]:
traindf2[traindf2['msno']=='%%%%']

Empty DataFrame
Columns: [msno, is_churn]
Index: []

In [53]:
mtdf.to_csv("memTrain.csv")

------------------------
test

In [ ]:
testdf1 = pd.read_csv("./rowdata/sample_submission_zero.csv/sample_submission_zero.csv")
testdf1.head()

In [ ]:
testdf2 = pd.read_csv("./rowdata/sample_submission_v2.csv/sample_submission_v2.csv")
testdf2.head()

In [74]:
testdf1.info()
testdf2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970960 entries, 0 to 970959
Data columns (total 2 columns):
msno        970960 non-null object
is_churn    970960 non-null int64
dtypes: int64(1), object(1)
memory usage: 14.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 907471 entries, 0 to 907470
Data columns (total 2 columns):
msno        907471 non-null object
is_churn    907471 non-null int64
dtypes: int64(1), object(1)
memory usage: 13.8+ MB

------------------------

## Transaction Data

In [ ]:
tsdf = dd.read_csv("./rowdata/tran_merge.csv")
tsdf.head()

In [ ]:
del tsdf['Unnamed: 0']

In [ ]:
tsdf.head()

In [ ]:
#tsdf = tsdf.compute()

In [ ]:
mgalldd = tsdf.merge(mtdf, how='left', left_on='msno', right_on='msno')

In [ ]:
mgalldd.head()

In [59]:
mgalldd.count().compute()

msno                      22975416
payment_method_id         22975416
payment_plan_days         22975416
plan_list_price           22975416
actual_amount_paid        22975416
is_auto_renew             22975416
transaction_date          22975416
membership_expire_date    22975416
is_cancel                 22975416
is_churn                  17629560
city                      15898098
bd                        15898098
gender                     7744552
registered_via            15898098
registration_init_time    15898098
dtype: int64

In [73]:
mgalldd.describe().compute()

C:\Anaconda3\lib\site-packages\numpy\lib\function_base.py:4116: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,is_churn,city,bd,registered_via
count,2.297542e+07,2.297542e+07,2.297542e+07,2.297542e+07,2.297542e+07,2.297542e+07,2.297542e+07,2.297542e+07,1.762956e+07,1.589810e+07,1.589810e+07,1.589810e+07
mean,3.886963e+01,3.349921e+01,1.487280e+02,1.506711e+02,8.477943e-01,2.015828e+07,2.015940e+07,3.879808e-02,8.728261e-02,6.323378e+00,1.496933e+01,7.056248e+00
std,3.624264e+00,3.985840e+01,1.704627e+02,1.714726e+02,3.592202e-01,6.627944e+03,8.127187e+03,1.931134e-01,2.822488e-01,6.515471e+00,2.129768e+01,1.836186e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.015010e+07,1.970010e+07,0.000000e+00,0.000000e+00,1.000000e+00,-3.152000e+03,3.000000e+00
25%,3.800000e+01,3.000000e+01,9.900000e+01,9.900000e+01,1.000000e+00,2.016032e+07,2.016043e+07,0.000000e+00,NaN,NaN,NaN,NaN
50%,4.100000e+01,3.000000e+01,1.490000e+02,1.490000e+02,1.000000e+00,2.016092e+07,2.016103e+07,0.000000e+00,NaN,NaN,NaN,NaN
75%,4.100000e+01,3.000000e+01,1.490000e+02,1.490000e+02,1.000000e+00,2.017032e+07,2.017050e+07,0.000000e+00,NaN,NaN,NaN,NaN
max,4.100000e+01,4.500000e+02,2.000000e+03,2.000000e+03,1.000000e+00,2.017033e+07,2.036102e+07,1.000000e+00,1.000000e+00,2.200000e+01,2.016000e+03,1.300000e+01

In [74]:
mgallcity = mgalldd[mgalldd['city'].isnull()==False]

In [ ]:
mgallcity.head()

In [76]:
mgallcity.count().compute()

msno                      15898098
payment_method_id         15898098
payment_plan_days         15898098
plan_list_price           15898098
actual_amount_paid        15898098
is_auto_renew             15898098
transaction_date          15898098
membership_expire_date    15898098
is_cancel                 15898098
is_churn                  15898098
city                      15898098
bd                        15898098
gender                     7744552
registered_via            15898098
registration_init_time    15898098
dtype: int64

In [77]:
mgalldf = mgallcity.compute()

In [78]:
mgalldf.to_csv('memNall.csv')

In [ ]:
mgalldf.head()

-------

## Member 데이터 확인용

In [ ]:
gs = pd.read_csv("./member_v1.csv")
gs.head(10)

In [61]:
gs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1082190 entries, 0 to 1082189
Data columns (total 9 columns):
Unnamed: 0                1082190 non-null int64
msno                      1082190 non-null object
city                      961431 non-null float64
bd                        961431 non-null float64
gender                    442069 non-null object
registered_via            961431 non-null float64
registration_init_time    961431 non-null float64
old.churn                 992931 non-null float64
new.churn                 970960 non-null float64
dtypes: float64(6), int64(1), object(2)
memory usage: 74.3+ MB

In [75]:
del gs['Unnamed: 0']

In [ ]:
gs.head()