# 문자열

In [5]:
'abcd'.find('e') # 글자 위치 출력

-1

In [6]:
'abcd'.index('e') # 없으면 에러

ValueError: substring not found

In [12]:
a='abcde'
print(a.join('zzzzz')) # 문자열 삽입
print(a.upper()) # 대문자로 바꾸기
print(a.lower()) # 소문자로 바꾸기
print(' hi '.lstrip()) # 왼쪽공백 지우기
print(' hi '.rstrip()) # 오른쪽공백 지우기
print(' hi '.strip()) # 양쪽공백 지우기
print(a.replace('z','u')) # 문자열 바꾸기
print('a,b,c,d'.split(',')) # 문자열 나누기

zabcdezabcdezabcdezabcdez
ABCDE
abcde
hi
 hi
hi
abcde
['a', 'b', 'c', 'd']

In [15]:
'{0}...{1}{2}'.format("one", 1, "----") # 문자열 포매팅

'one...1----'

In [23]:
print("{0:!>10}".format('aa')) # 문자열 포매팅 공백추가
print("{0:^10}".format('aa')) # 문자열 가운데 정렬
print("{0:10.4f}".format(3.21313)) # 문자열 소숫점 표시
print( "{{ and }}".format()) # {} 문자 표현

!!!!!!!!aa
    aa
    3.2131
{ and }

이스케이프 코드 
<table align="left">
<tbody >
<tr>
    <th>코드</th>
    <th>설명</th>
</tr>
<tr>
    <td>\n</td>
    <td>개행 (줄바꿈)</td>
</tr>
<tr>
    <td>\t</td>
    <td>수평 탭</td>
</tr>
<tr>
    <td>\\</td>
    <td>문자 \</td>
</tr>
<tr>
    <td>\'</td>
    <td>단일 인용부호 '</td>
</tr>
<tr>
    <td>\"</td>
    <td>이중 인용부호 "</td>
</tr>
<tr>
    <td>\r</td>
    <td>캐리지리턴</td>
</tr>
<tr>
    <td>\f</td>
    <td>폼피드</td>
</tr>
<tr>
    <td>\a</td>
    <td>벨 소리</td>
</tr>
<tr>
    <td>\b</td>
    <td>백 스페이스</td>
</tr>
<tr>
    <td>\000</td>
    <td>널문자</td>
</tr>
</tbody>
</table>

문자열 포맷 코드 <br/>
코드 &nbsp; 설명<br/>
%s	&nbsp;&nbsp;&nbsp;&nbsp; 문자열 (String)<br/>
%c	&nbsp;&nbsp;&nbsp;&nbsp;	문자 1개(character)<br/>
%d	&nbsp;&nbsp;&nbsp;&nbsp;	정수 (Integer)<br/>
%f	&nbsp;&nbsp;&nbsp;&nbsp;	부동소수 (floating-point)<br/>
%o	&nbsp;&nbsp;&nbsp;&nbsp;	8진수<br/>
%x	&nbsp;&nbsp;&nbsp;&nbsp;	16진수<br/>
%%	&nbsp;&nbsp;&nbsp;&nbsp;	Literal % (문자 % 자체)<br/>

In [3]:
print("%-10sjane." % 'hi') #문자 공백넣기
print("%0.4f" % 3.42134234) #소수점 숫자표현

hi        jane.
3.4213

## Q1

In [29]:
pin = "881120-1068234"
yyyymmdd=pin[ :pin.find('-')]
num=pin[pin.find('-')+1:]
print(yyyymmdd)
print(num)

881120
1068234

## Q2

In [30]:
print(pin[pin.find('-')+1])

1

# 리스트

In [34]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[3][:2])

['a', 'b']

In [56]:
a = [1, 2, 3,'a']
print(a * 3)
b = a + [4]

[1, 2, 3, 'a', 1, 2, 3, 'a', 1, 2, 3, 'a']

In [43]:
a = [1, 2, 3]
a.append(4) # 뒤에 붙이기
a.sort() # 정렬
a.reverse() # 뒤집기
a.index(1) # 요소 인덱스 
a.insert(0, 4) # 요소 추가 0번쨰 자리
a.remove(3) # 요소 1개 삭제
a.count(1) # 요소 개수 세기
a.extend([4,5]) # 요소 확장
a.pop() # 맨 마지막 요소

5

## Q1

In [36]:
a = [1,3,5,4,2]
a.sort()
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

## Q2

In [42]:
a = ['Life', 'is', 'too','short']
result=' '.join(a)
print(result)

Life is too short

# 튜플

## Q1

In [45]:
a=(1,2,3,'a')
# a=a+(4) 
a=a+(4,) 
print(a)

(1, 2, 3, 'a', 4)

# 딕셔너리

In [31]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
a = { 'a': [1,2,3]}
a['a']

In [36]:
dic.keys() # 키확인
list(dic.keys()) # 객체를 리스트로 변환
dic.values() # value 확인
#키로 값 얻기 
dic.get('name')
dic['name']
dic.items() # Key, Value 쌍
del dic['birth'] #삭제
dic.clear() # 모두 지우기
'name' in dic # 존재 확인하기

False

## Q1

In [40]:
a = {'A':90, 'B':80, 'C':70}
result = a['B']
del a['B']
print(a)
print(result)

{'A': 90, 'C': 70}
80

# 집합

In [42]:
s2 = set("Hello") # 중복제거
l1 = list(s2)
t1 = tuple(s2)

In [43]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
# 교칩합
s1 & s2 
s1.intersection(s2)
# 합집합
s1 | s2
s1.union(s2)
# 차집합
s1 - s2
s1.difference(s2)

{1, 2, 3}

In [46]:
s1.add(1111) # 값 한게 추가
s1.update([4, 5, 6]) # 값 여러게
s1.remove(2) # 값 제거

## Q1

In [50]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

# 변수

In [52]:
a = [1, 2, 3, 4]
while a: print(a.pop())

4
3
2
1

In [53]:
import sys
print(sys.getrefcount(3)) # 정수형 객체에 참조 개수
a = 3
print(sys.getrefcount(3)) # 파이썬 내부적으로 3이라는 자료형을 이미 사용함
b = 3
print(sys.getrefcount(3))

541
544
542

In [54]:
a, b = ('python', 'life')
(a, b) = 'python', 'life'
[a,b] = ['python', 'life']
a, b = b, a
del(a) # 메모리에 변수 삭제

In [59]:
a = [1,2,3]
b = a
a[1] = 4
print(a,b)
a = [1,2,3]
b = a[:]
a[1] = 4
print(a,b)

[1, 4, 3] [1, 4, 3]
[1, 4, 3] [1, 2, 3]

In [60]:
from copy import copy
b = copy(a) 
b is a # 같은 값, 다른 객체

False

## Q1

In [62]:
a=b=[1,2,3]
a[1]=4
print(b)
a is b # 같은 객체

[1, 4, 3]

True