# Appendix: Python Language Essentials

In [5]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import *
import pandas
np.set_printoptions(precision=4)

## The Python interpreter

```
$ python
Python 2.7.2 (default, Oct  4 2011, 20:06:09)
[GCC 4.6.1] on linux2
Type "help", "copyright", "credits" or "license" for more information.
>>> a = 5
>>> print a
5
```

In [6]:
%%writefile hello_world.py
print 'Hello world'

Writing hello_world.py

```
$ ipython
Python 2.7.2 |EPD 7.1-2 (64-bit)| (default, Jul  3 2011, 15:17:51)
Type "copyright", "credits" or "license" for more information.

IPython 0.12 -- An enhanced Interactive Python.
?         -> Introduction and overview of IPython's features.
%quickref -> Quick reference.
help      -> Python's own help system.
object?   -> Details about 'object', use 'object??' for extra details.

In [1]: %run hello_world.py
Hello world

In [2]:
```

## The Basics

### Language Semantics

#### Everything is an object

#### Comments

#### Variables and pass-by-reference

In [7]:
def append_element(some_list, element):
    some_list.append(element)

In [8]:
data = [1, 2, 3]

append_element(data, 4)

In [4]: data
Out[4]: [1, 2, 3, 4]

#### Dynamic references, strong types

In [9]:
a = 5
type(a)
a = 'foo'
type(a)

str

In [10]:
a = 4.5
b = 2
# String formatting, to be visited later
print( 'a is %s, b is %s' % (type(a), type(b)))
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [11]:
a = 5
isinstance(a, int)

True

In [12]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

#### Attributes and methods

In [1]: a = 'foo'

In [2]: a.<Tab>
a.capitalize  a.format      a.isupper     a.rindex      a.strip
a.center      a.index       a.join        a.rjust       a.swapcase
a.count       a.isalnum     a.ljust       a.rpartition  a.title
a.decode      a.isalpha     a.lower       a.rsplit      a.translate
a.encode      a.isdigit     a.lstrip      a.rstrip      a.upper
a.endswith    a.islower     a.partition   a.split       a.zfill
a.expandtabs  a.isspace     a.replace     a.splitlines
a.find        a.istitle     a.rfind       a.startswith

>>> getattr(a, 'split')
<function split>

#### "Duck" typing
동적 타이핑의 한 종류 객체의 변수 및 메소드의 집합이 객체의 타입을 결정하는 것

In [13]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [14]:
isiterable('a string')
isiterable([1, 2, 3])
isiterable(5)

False

if not isinstance(x, list) and isiterable(x):
    x = list(x)

#### Imports

In [15]:
# some_module.py
PI = 3.14159

def f(x):
    return x + 2

def g(a, b):
    return a + b

import some_module
result = some_module.f(5)
pi = some_module.PI

print(result, pi)

from some_module import f, g, PI
result = g(5, PI)

import some_module as sm
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)

#### Binary operators and comparisons

In [20]:
a = [1, 2, 3]
b = a
# Note, the list function always creates a new list
c = list(a)
a is b

True

In [21]:
a is not c

True

In [22]:
a == c

True

In [23]:
a = None
a is None

True

#### Strictness versus laziness

In [24]:
a = b = c = 5
d = a + b * c

#### Mutable and immutable objects

In [25]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [26]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

In [27]:
a_str = 'hello'
a_str[0] = 'm'

TypeError: 'str' object does not support item assignment

### Scalar Types

#### Numeric types

In [28]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [29]:
fval = 7.243
fval2 = 6.78e-5

In [30]:
3 / 2

1.5

In [31]:
from __future__ import division

In [32]:
3 / float(2)

1.5

In [33]:
3 // 2

1

In [34]:
cval = 1 + 2j
cval * (1 - 2j)

(5+0j)

#### Strings

In [35]:
a = 'one way of writing a string'
b = "another way"

In [36]:
c = """
This is a longer string that
spans multiple lines
"""

In [37]:
a = 'this is a string'
a[10] = 'f'
b = a.replace('string', 'longer string')
b

TypeError: 'str' object does not support item assignment

In [38]:
a = 5.6
s = str(a)
s

'5.6'

In [39]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [40]:
s[:3]

'pyt'

In [41]:
s = '12\\34'
print (s)

12\34

In [42]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [43]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

In [44]:
template = '%.2f %s are worth $%d'

In [45]:
template % (4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth $1'

In [46]:
template % (1210.3, 'Korean Won' , 1)

'1210.30 Korean Won are worth $1'

#### Booleans

In [47]:
True and True
False or True

True

In [48]:
a = [1, 2, 3]
if a:
    print ('I found something!')

b = []
if not b:
    print ('Empty!')

I found something!
Empty!

In [49]:
bool([]), bool([1, 2, 3])
bool('Hello world!'), bool('')
bool(0), bool(1)

(False, True)

#### Type casting

In [50]:
s = '3.14159'
fval = float(s)

In [51]:
type(fval)

float

In [52]:
int(fval)

3

In [53]:
bool(fval)

True

In [54]:
bool(0)

False

#### None

In [55]:
a = None
a is None
b = 5
b is not None

True

In [56]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b

    if c is not None:
        result = result * c

    return result

#### Dates and times

In [57]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

30

In [58]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [59]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [60]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [61]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [62]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

datetime.timedelta

In [63]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

### Control Flow

#### If, elif, and else

In [2]:
x = 0
if x < 0:
    print('It\'s negative')

In [4]:
if x < 0:
    print('It\'s negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5') 
else:
    print('Positive and larger than 5')

Equal to zero

In [66]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print ('Made it')

Made it

#### For loops

In [5]:
for value in collection:
    # do something with value

SyntaxError: unexpected EOF while parsing (<ipython-input-5-f50349269b48>, line 2)

In [68]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
    
    
print(total)

12

In [69]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
    
print(total_until_5)

13

In [70]:
for a, b, c in iterator:
    # do something

SyntaxError: unexpected EOF while parsing (<ipython-input-70-1f63cede304d>, line 2)

In [71]:
seq=[(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(a, b, c)

1 2 3
4 5 6
7 8 9

In [72]:
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9

While loops

In [73]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

#### pass

In [74]:
if x < 0:
    print('negative!')
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print('positive!')

positive!

In [75]:
def f(x, y, z):
    # TODO: implement this function!
    pass

#### Exception handling

In [76]:
float('1.2345')
float('something')

ValueError: could not convert string to float: 'something'

In [77]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [78]:
attempt_float('1.2345')
attempt_float('something')

'something'

In [79]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [80]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [81]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [82]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [83]:
f = open(path, 'w')

try:
    write_to_file(f)
finally:
    f.close()

NameError: name 'path' is not defined

In [84]:
f = open(path, 'w')

try:
    write_to_file(f)
except:
    print 'Failed'
else:
    print 'Succeeded'
finally:
    f.close()

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-84-a7172e48fd91>, line 6)

#### range and xrange

In [85]:
range(10)

range(0, 10)

In [86]:
range(0, 20, 2)

range(0, 20, 2)

In [87]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]

In [6]:
sum = 0
for i in range(10000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += i

#### Ternary Expressions

In [89]:
x = 5
value = 'Non-negative' if x >= 0 else 'Negative'
print(value)

Non-negative

In [90]:
x = 5

if x >= 0:
    value = 'Non-negative'
else :
    value = 'Negative'
    
print(value)

Non-negative

## Data structures and sequences

### Tuple

In [91]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [92]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [93]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [94]:
tup[0]

's'

In [95]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

# however
tup[1].append(3)
tup

TypeError: 'tuple' object does not support item assignment

In [96]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [97]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples

In [98]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [99]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

tmp = a
a = b
b = tmp

b, a = a, b


seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    pass

#### Tuple methods

In [100]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### List

In [101]:
a_list = [2, 3, 7, None]

tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [102]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

#### Adding and removing elements

In [103]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [104]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [105]:
x = b_list.pop(2)
print(b_list, x, sep=':')

['foo', 'red', 'baz', 'dwarf']:peekaboo

In [106]:
b_list.append('foo')
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [107]:
'dwarf' in b_list

True

#### Concatenating and combining lists

In [108]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [109]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [110]:
list_of_lists = [[1,2,3],[4, None, (3, 2)], 'hello']

In [111]:
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

everything

[1, 2, 3, 4, None, (3, 2), 'h', 'e', 'l', 'l', 'o']

In [112]:
everything = []
for chunk in list_of_lists:
    everything = everything + chunk

everything

TypeError: can only concatenate list (not "str") to list

#### Sorting

In [113]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [114]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [115]:
b.sort()
b

['He', 'foxes', 'saw', 'six', 'small']

#### Binary search and maintaining a sorted list

In [116]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
print(bisect.bisect(c, 2))
print(bisect.bisect(c, 5))
print(bisect.insort(c, 6))
c

4
6
None

[1, 2, 2, 2, 3, 4, 6, 7]

In [117]:
d = [1, 2, 7, 4, 6, 5]

In [118]:
bisect.insort(d,4)

In [119]:
print(round(3.14159,3))
round(356.712, -2)

3.142

400.0

#### Slicing

In [120]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [121]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [122]:
seq[:5]
seq[3:]

[6, 3, 5, 6, 0, 1]

In [123]:
seq[-4:]
seq[-6:-2]

[6, 3, 5, 6]

* arr[A:B:C] index A 부터 index B 까지 C의 간격으로 배열을 만들어라
    - A가 None 이라면, 처음부터 
    - B가 None 이라면, 할 수 있는 데까지 (C가 양수라면 마지막 index까지, C가 음수라면 첫 index까지)
    - C가 None 이라면 한 칸 간격으
    

* arr[::-1] # 처음부터 끝까지 -1칸 간격으로 ( == 역순으로)

In [124]:
seq[::2]

[7, 3, 3, 6, 1]

In [125]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### Built-in Sequence Functions

#### enumerate

In [126]:
collection = 
i = 0
for value in collection = :
   # do something with value
   i += 1

NameError: name 'collection' is not defined

In [127]:
for i, value in enumerate(collection):
   # do something with value

SyntaxError: unexpected EOF while parsing (<ipython-input-127-f660a0a425c6>, line 2)

In [128]:
some_list = ['foo', 'bar', 'baz']
for index, item in enumerate(some_list):
    print(index, item)

0 foo
1 bar
2 baz

In [129]:
mapping = dict((v, i) for i, v in enumerate(some_list))
mapping

{'bar': 1, 'baz': 2, 'foo': 0}

#### sorted

In [130]:
x = [7, 1, 2, 6, 0, 3, 2]
x.sort()
y= sorted(x)
print(x, y)
print(x is y)

[0, 1, 2, 2, 3, 6, 7] [0, 1, 2, 2, 3, 6, 7]
False

In [131]:
a = [1, 3, 6, 4, 2]
b = sorted(a)

In [132]:
print(a, b)

[1, 3, 6, 4, 2] [1, 2, 3, 4, 6]

In [133]:
print(a is b, a == b, set(a) == set(b), sep = '\t')

False	False	True

In [134]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [135]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [136]:
sorted(set('horse race'))

[' ', 'a', 'c', 'e', 'h', 'o', 'r', 's']

In [137]:
sorted(set('this is just some string'))

[' ', 'e', 'g', 'h', 'i', 'j', 'm', 'n', 'o', 'r', 's', 't', 'u']

#### zip

In [138]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
print(zip(seq1, seq2))
list(zip(seq1, seq2))

<zip object at 0x000000000B214448>

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [139]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [140]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('%d: %s, %s' % (i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [141]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names
last_names

('Ryan', 'Clemens', 'Curt')

In [142]:
zip(seq[0], seq[1], ..., seq[len(seq) - 1])

TypeError: zip argument #1 must support iteration

In [143]:
list(zip(pitchers[0], pitchers[1], pitchers[2]))

[('Nolan', 'Roger', 'Schilling'), ('Ryan', 'Clemens', 'Curt')]

In [144]:
list(zip(('Nolan', 'Ryan'), ('Roger', 'Clemens'),('Schilling', 'Curt')))

[('Nolan', 'Roger', 'Schilling'), ('Ryan', 'Clemens', 'Curt')]

In [145]:
p1, p2, p3 = ('Nolan', 'Ryan'), ('Roger', 'Clemens'),('Schilling', 'Curt')

In [146]:
list(zip(p1, p2, p3))

[('Nolan', 'Roger', 'Schilling'), ('Ryan', 'Clemens', 'Curt')]

In [147]:
p = (p1, p2, p3)
p

(('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt'))

In [148]:
list(zip(*p))

[('Nolan', 'Roger', 'Schilling'), ('Ryan', 'Clemens', 'Curt')]

#### reversed

In [149]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### Dict

In [150]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [151]:
d1[7] = 'an integer'
d1
d1['b']

[1, 2, 3, 4]

In [152]:
'b' in d1

True

In [153]:
d1[5] = 'some value'
d1['dummy'] = 'another value'
del d1[5]
ret = d1.pop('dummy')
ret

'another value'

In [154]:
d1.keys()
d1.values()

dict_values(['some value', [1, 2, 3, 4], 'an integer'])

In [155]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### Creating dicts from sequences

In [156]:
key_list = [1, (2, 20) , 3, 4, 1]
value_list = ['a', 'b', 'c', 'd', 'e']

In [157]:
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [158]:
mapping

{1: 'e', (2, 20): 'b', 3: 'c', 4: 'd'}

In [159]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

In [294]:
some_dict = {'a':1,'b':2,'c':3 }
default_value = 0

In [298]:
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value
    
value

3

In [299]:
value = some_dict.get(key, default_value)
value

3

In [162]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [163]:
d2 = {}

In [164]:
d2

{}

In [165]:
d2.setdefault('a',[]).append('apple')
d2

{'a': ['apple']}

by_letter.setdefault(letter, []).append(word)

In [166]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [167]:
counts = defaultdict(lambda: 4)

#### Valid dict key types

In [168]:
hash('string')
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

In [169]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### Set

In [170]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [171]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
a | b  # union (or)
a & b  # intersection (and)
a - b  # difference
a ^ b  # symmetric difference (xor)

{1, 2, 6, 7, 8}

In [172]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

In [173]:
{1, 2, 3} == {3, 2, 1}

True

### List, set, and dict comprehensions

In [174]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [175]:
lengths = [len(x) for x in strings]
print(lengths)
unique_lengths = {len(x) for x in strings}
unique_lengths

[1, 2, 3, 3, 4, 6]

{1, 2, 3, 4, 6}

In [176]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

loc_mapping = dict((val, idx) for idx, val in enumerate(strings)}

#### Nested list comprehensions

In [177]:
all_data = [['Tom', 'Billy', 'Jefferson', 'Andrew', 'Wesley', 'Steven', 'Joe'],
            ['Susie', 'Casey', 'Jill', 'Ana', 'Eva', 'Jennifer', 'Stephanie']]

In [178]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)
    
names_of_interest

['Jefferson', 'Wesley', 'Steven', 'Jennifer', 'Stephanie']

In [179]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Jefferson', 'Wesley', 'Steven', 'Jennifer', 'Stephanie']

In [180]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [181]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [182]:
In [229]: [[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Functions

In [183]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [184]:
my_function(5, 6, z=0.7)
my_function(3.14, 7, 3.5)

35.49

### Namespaces, scope, and local functions

In [185]:
def func():
    a = []
    for i in range(5):
        a.append(i)
    return a
print(a)

{1, 2, 3, 4, 5}

In [186]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [187]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

In [188]:
def outer_function(x, y, z):
    def inner_function(a, b, c):
        pass
    pass

### Returning multiple values

In [189]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

In [190]:
print(a, b, c)

5 6 7

In [191]:
return_value = f()
return_value

(5, 6, 7)

In [192]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

### Functions are objects

In [193]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [194]:
import re  # Regular expression module

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value) # remove punctuation
        value = value.title()
        result.append(value)
    return result

In [195]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [196]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [197]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [198]:
list(map(remove_punctuation, states))

['   Alabama ',
 'Georgia',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south   carolina',
 'West virginia']

### Anonymous (lambda) functions

In [199]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [200]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [201]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [202]:
strings.sort()
strings

['aaaa', 'abab', 'bar', 'card', 'foo']

In [203]:
def unique_char(x):
    return len(set(list(x)))

In [204]:
strings.sort(key=unique_char)
strings

['aaaa', 'abab', 'foo', 'bar', 'card']

In [205]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'abab', 'foo', 'bar', 'card']

### Closures: functions that return functions

In [206]:
def make_closure(a):
    def closure():
        print('I know the secret: %d' % a)
    return closure

closure = make_closure(5)

In [207]:
closure()

I know the secret: 5

In [208]:
closure1 = make_closure(3.14)

In [209]:
closure1()

I know the secret: 3

In [210]:
def make_watcher():
    have_seen = {}

    def has_been_seen(x):
        if x in have_seen:
            return True
        else:
            have_seen[x] = True
            return False

    return has_been_seen

In [211]:
watcher = make_watcher()
vals = [5, 6, 1, 5, 1, 6, 3, 5]
[watcher(x) for x in vals]

[False, False, False, True, True, True, False, True]

In [212]:
def make_counter():
    count = [0]
    def counter():
        # increment and return the current count
        count[0] += 1
        return count[0]
    return counter

counter = make_counter()

In [213]:
counter()

1

In [214]:
cnt= make_counter()

In [215]:
cnt()

1

In [216]:
def format_and_pad(template, space):
    def formatter(x):
        return (template % x).rjust(space)

    return formatter

In [217]:
fmt = format_and_pad('%.4f', 15)
fmt(1.756)

'         1.7560'

### Extended call syntax with *args, **kwargs

In [ ]:
a, b, c = args
d = kwargs.get('d', d_default_value)
e = kwargs.get('e', e_default_value)

In [219]:
def say_hello_then_call_f(f, *args, **kwargs):
    print ('args is', args)
    print ('kwargs is', kwargs)
    print("Hello! Now I'm going to call %s" % f)
    return f(*args, **kwargs)

def g(x, y, z=1):
    return (x + y) / z

In [220]:
say_hello_then_call_f(g, 1, 2, z=5.)

args is (1, 2)
kwargs is {'z': 5.0}
Hello! Now I'm going to call <function g at 0x000000000B207620>

0.6

### Currying: partial argument application

In [221]:
def add_numbers(x, y):
    return x + y

In [222]:
add_five = lambda y: add_numbers(5, y)

In [223]:
from functools import partial
add_five = partial(add_numbers, 5)

In [224]:
# compute 60-day moving average of time series x
ma60 = lambda x: pandas.rolling_mean(x, 60)

# Take the 60-day moving average of of all time series in data
data.apply(ma60)

AttributeError: 'list' object has no attribute 'apply'

### Generators

In [225]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print (key,)

a
b
c

In [226]:
dict_iterator = iter(some_dict)
dict_iterator

In [227]:
list(dict_iterator)

['a', 'b', 'c']

In [228]:
def squares(n=10):
    for i in range(1, n + 1):
        print ('Generating squares from 1 to %d' % (n ** 2))
        yield i ** 2

In [229]:
In [2]: gen = squares()

In [3]: gen

In [230]:
for x in gen:
    print(x)

Generating squares from 1 to 100
1
Generating squares from 1 to 100
4
Generating squares from 1 to 100
9
Generating squares from 1 to 100
16
Generating squares from 1 to 100
25
Generating squares from 1 to 100
36
Generating squares from 1 to 100
49
Generating squares from 1 to 100
64
Generating squares from 1 to 100
81
Generating squares from 1 to 100
100

In [231]:
def make_change(amount, coins=[1, 5, 10, 25], hand=None):
    hand = [] if hand is None else hand
    if amount == 0:
        yield hand
    for coin in coins:
        # ensures we don't give too much change, and combinations are unique
        if coin > amount or (len(hand) > 0 and hand[-1] < coin):
            continue

        for result in make_change(amount - coin, coins=coins,
                                  hand=hand + [coin]):
            yield result

In [232]:
for way in make_change(100, coins=[10, 25, 50]):
    print (way)
len(list(make_change(100)))

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]
[25, 25, 10, 10, 10, 10, 10]
[25, 25, 25, 25]
[50, 10, 10, 10, 10, 10]
[50, 25, 25]
[50, 50]

242

#### Generator expresssions

In [233]:
gen = (x ** 2 for x in range(100))
gen

In [274]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [290]:
sum(x ** 2 for x in range(100))
dict((i, i **2) for i in range(5))

TypeError: 'int' object is not callable

#### itertools module

In [272]:
import itertools
first_letter = lambda x: x[0]

names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [237]:
strings = ['Sunday', 'Monday', 'Tuesday','Wendesday','Thursday','Friday','Saturday']
languages = ['Python','java','c++','Pascal','Scala','Javascript','R','Ada','Haskell','Go']

In [238]:
def init_str(words):
    for word in words:
        yield word[0]

In [239]:
g = (word[0] for word in strings)

In [240]:
s = init_str(strings)

In [241]:
next(g)

'S'

In [242]:
next(s)

'S'

In [243]:
for x in s:
    print(x)

M
T
W
T
F
S

In [244]:
[x for x in init_str(languages)]

['P', 'j', 'c', 'P', 'S', 'J', 'R', 'A', 'H', 'G']

In [245]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# shallow copy vs deep copy

## 1. 튜플 복사

In [246]:
t1 = 1, 2, 3
t2 = t1
t1 is t2

True

In [247]:
print(id(t1), id(t2), sep='\t')

186595944	186595944

In [248]:
print(hex(id(t1)), hex(id(t2)), sep='\t')

0xb1f3a68	0xb1f3a68

In [249]:
t3 = tuple(t1)

In [250]:
print(hex(id(t1)), hex(id(t2)), hex(id(t3)), sep='\t')

0xb1f3a68	0xb1f3a68	0xb1f3a68

### copy module

In [251]:
import copy
t4 = copy.copy(t1); t5 = copy.deepcopy(t1)

In [252]:
print(hex(id(t1)), hex(id(t4)), hex(id(t5)), sep='\t')

0xb1f3a68	0xb1f3a68	0xb1f3a68

튜플은 복제가 안된다. immutable이니까

## 2. 리스트 복제

In [253]:
l1 = [1, 2, 3, 4]
l2 = l1
print(hex(id(l1)), hex(id(l2)), sep='\t')

0xb267848	0xb267848

In [254]:
l3 = list(range(1, 5)); l3

[1, 2, 3, 4]

In [255]:
print(hex(id(l1)), hex(id(l2)), hex(id(l3)), sep='\t')

0xb267848	0xb267848	0xb239dc8

In [256]:
l4 = list(l1)
print(hex(id(l1)), hex(id(l2)), hex(id(l4)), sep='\t')

0xb267848	0xb267848	0xb2783c8

In [257]:
l5 = copy.copy(l1)
l6 = copy.deepcopy(l1)
print(hex(id(l1)), hex(id(l5)), hex(id(l6)), sep='\t')

0xb267848	0xb1f9908	0xb239708

## 3. shallow copy vs. deep copy

In [258]:
c = [1, 2, [3, 4, 'hello'], 10]
x = 1
print(hex(id(x)), hex(id(c[0])), sep='\t')

0x6caee9d0	0x6caee9d0

In [259]:
print(hex(id(c)))

0xb214a48

c는 list를 가르키고, list는 해당하는 숫자, 문자, 튜플형 자료를 가르킴.<br>
list c의 0번째 요소와 변수 x 모두 숫자 1을 가르키고 있으므로,  같은 주소값이 출력됨.

In [260]:
x = 2
y = [1, 2, 3]
print(hex(id(x)), hex(id(y)), hex(id(y[0])), hex(id(y[2])), sep='\t')

0x6caee9f0	0xb1f9988	0x6caee9d0	0x6caeea10

In [261]:
c1 = list(c)
c2 = copy.copy(c)
c3 = copy.deepcopy(c)
c

[1, 2, [3, 4, 'hello'], 10]

In [262]:
print(hex(id(c[1])), hex(id(c1[1])), hex(id(c2[1])), hex(id(c3[1])), sep='\t')

0x6caee9f0	0x6caee9f0	0x6caee9f0	0x6caee9f0

### 리스트 안에 리스트 복제

In [263]:
print(hex(id(c[2])), hex(id(c1[2])), hex(id(c2[2])), hex(id(c3[2])), sep='\t')

0xb22c288	0xb22c288	0xb22c288	0xb20f888

In [264]:
z = [[8, [9]], 5]
z1 = z
z2 = list(z)
z3 = copy.deepcopy(z)
len(z)

2

In [267]:
c1, c2, c3 = 8, 9, 5 # 주소 비교용 
print(hex(id(c3)), hex(id(z[1])), hex(id(z1[1])), hex(id(z2[1])), hex(id(z3[1])), sep ='\t')

0x6caeea50	0x6caeea50	0x6caeea50	0x6caeea50	0x6caeea50

In [268]:
print(id(c3), id(z[1]), id(z1[1]), id(z2[1]), id(z3[1]), sep='\t')

1823402576	1823402576	1823402576	1823402576	1823402576

※ shallow copy c1(list 복사), c2(copy)는 리스트 내 리스트는 참조하여 같은 주소값을 가짐<br>
※ deep copy c3(deepcopy)는 리스트 내 리스트도 복제하기 때문에 별도의 주소값을 가짐

In [269]:
print(id(z), id(z1), id(z2), id(z3), sep='\t')

187071496	187071496	186849032	81265480

In [270]:
print(id(z[0][0]), id(z2[0][0]), id(z3[0][0]), id(c1), sep='\t')

1823402672	1823402672	1823402672	1823402672

In [271]:
z[0][0]

8

## Files and the operating system

In [ ]:
path = 'ch13/segismundo.txt'
f = open(path)

In [ ]:
for line in f:
    pass

In [ ]:
lines = [x.rstrip() for x in open(path)]
lines

In [ ]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

open('tmp.txt').readlines()

In [ ]:
os.remove('tmp.txt')