https://beomi.github.io/2017/02/27/HowToMakeWebCrawler-With-Selenium/

In [2]:
import bs4 as bs
from selenium import webdriver

# 크롭 화면 띄워서 크롤링하기 
# driver = webdriver.Chrome(executable_path='C:/Users/jhfolder/GitRepositories/crawling/chromedriver.exe', port=9515)
# driver = webdriver.Chrome()
# driver.get('https://www.hanwhafireworks.com/event-goldenticket.do') 

# PhantomJS는 기본적으로 WebTesting을 위해 나온 Headless Browser다.(화면이 존재하지 않는다)
driver = webdriver.PhantomJS('crawling/phantomjs-2.1.1-windows/bin/phantomjs')
driver.get('https://www.hanwhafireworks.com/event-goldenticket.do') 

driver.implicitly_wait(3) # 3초 기다림
# a = driver.find_element_by_xpath('//*[@id="header"]/div/div[2]/ul/li[2]/div')

# print(a)
html = driver.page_source # 페이지의 elements모두 가져오기
soup = bs.BeautifulSoup(html, 'html.parser') 
    
count=[]
for link in soup.find("div", {"id":"header"}).find("div", {"class":"navi"}).find("div", {"class":"rolling_box_gnb"}).findAll("span"):
    count.append(link.text)

In [11]:
''.join(count[1:])

'240'

In [15]:
import time

now = time.localtime()
time.strftime("%H-%M" ,now)

'19-19'

-----------------------------

In [24]:
import bs4 as bs
from selenium import webdriver

In [20]:
def get_count():
    driver.get('https://www.hanwhafireworks.com/event-goldenticket.do') 
    driver.implicitly_wait(3)
    html = driver.page_source # 페이지의 elements모두 가져오기
    soup = bs.BeautifulSoup(html, 'html.parser') 
    count=[]
    for link in soup.find("div", {"id":"header"}).find("div", {"class":"navi"}).find("div", {"class":"rolling_box_gnb"}).findAll("span"):
        count.append(link.text)

    return count

In [27]:
import threading 
import time

end = False

def execute_funct(second=60.0):
    global end
    if end:
        return
    
    now = time.localtime()
    #print("here")
    data = get_count()
    #print("data ",data)
    now_time = time.strftime("%H-%M" ,now)
    s = now_time+'\t' +''.join(data[1:])
    
    with open("countData.txt", 'a') as f:
        f.write('\n'+s)
        
    threading.Timer(second, execute_funct, [second]).start()

In [29]:
driver = webdriver.PhantomJS('crawling/phantomjs-2.1.1-windows/bin/phantomjs')
execute_funct()

In [81]:
l = []
line = ["09-10    124"]
l.append(line.split())
l

TypeError: insert() missing 1 required positional argument: 'values'

In [76]:
l = []
with open("countData.txt", 'r') as f:
    lines = f.readlines()
    lines = lines[1:]
    
    for line in lines:
        row = line.split()
        if row : l.append([row[0], int(row[1])])

AttributeError: 'numpy.ndarray' object has no attribute 'append'

In [66]:
len(l)
tmp = ['19-41', '224']
a, b = tmp
b

'224'

In [71]:
import numpy as np
from scipy import stats
l = np.array(l)
type(l)
a = np.delete(l, 0)
a[0]

'224'

In [98]:
import pandas as pd

df = pd.read_table("countData.txt", '\t', index_col=False, names = ["date", "count"])
df

       date  count
0     19-41    224
1     19-43    224
2     19-44    224
3     19-45    224
4     19-45    222
5     19-46    222
6     19-46    222
7     19-47    222
8     19-47    222
9     19-48    222
10    19-48    222
11    19-49    222
12    19-49    222
13    19-50    222
14    19-50    222
15    19-51    222
16    19-51    222
17    19-52    222
18    19-52    222
19    19-53    222
20    19-53    222
21    19-54    222
22    19-54    222
23    19-55    222
24    19-55    222
25    19-56    222
26    19-56    222
27    19-57    222
28    19-57    222
29    19-58    222
...     ...    ...
1958  16-42    130
1959  16-43    130
1960  16-44    130
1961  16-45    130
1962  16-47    130
1963  16-48    130
1964  16-49    130
1965  16-50    130
1966  16-51    130
1967  16-52    130
1968  16-53    130
1969  16-54    130
1970  16-55    130
1971  16-56    128
1972  16-57    128
1973  16-58    128
1974  16-59    128
1975  17-00    128
1976  17-01    128
1977  17-02    128
1978  17-03    128
1979  17-04    128
1980  17-05    128
1981  17-06    128
1982  17-07    128
1983  17-08    128
1984  17-09    128
1985  17-10    128
1986  17-11    128
1987  17-12    128

[1988 rows x 2 columns]