https://beomi.github.io/2017/02/27/HowToMakeWebCrawler-With-Selenium/

In [ ]:
import bs4 as bs
from selenium import webdriver

# 크롭 화면 띄워서 크롤링하기 
# driver = webdriver.Chrome(executable_path='C:/Users/jhfolder/GitRepositories/crawling/chromedriver.exe', port=9515)
# driver = webdriver.Chrome()
# driver.get('https://www.hanwhafireworks.com/event-goldenticket.do') 

# PhantomJS는 기본적으로 WebTesting을 위해 나온 Headless Browser다.(화면이 존재하지 않는다)
driver = webdriver.PhantomJS('crawling/phantomjs-2.1.1-windows/bin/phantomjs')
driver.get('https://www.hanwhafireworks.com/event-goldenticket.do') 

driver.implicitly_wait(3) # 3초 기다림
# a = driver.find_element_by_xpath('//*[@id="header"]/div/div[2]/ul/li[2]/div')

# print(a)
html = driver.page_source # 페이지의 elements모두 가져오기
soup = bs.BeautifulSoup(html, 'html.parser') 
    
count=[]
for link in soup.find("div", {"id":"header"}).find("div", {"class":"navi"}).find("div", {"class":"rolling_box_gnb"}).findAll("span"):
    count.append(link.text)

In [ ]:
''.join(count[1:])

In [ ]:
import time

now = time.localtime()
time.strftime("%H-%M" ,now)

-----------------------------

In [ ]:
import bs4 as bs
from selenium import webdriver

In [ ]:
def get_count():
    driver.get('https://www.hanwhafireworks.com/event-goldenticket.do') 
    driver.implicitly_wait(3)
    html = driver.page_source # 페이지의 elements모두 가져오기
    soup = bs.BeautifulSoup(html, 'html.parser') 
    count=[]
    for link in soup.find("div", {"id":"header"}).find("div", {"class":"navi"}).find("div", {"class":"rolling_box_gnb"}).findAll("span"):
        count.append(link.text)

    return count

In [ ]:
import threading 
import time

end = False

def execute_funct(second=60.0):
    global end
    if end:
        return
    
    now = time.localtime()
    #print("here")
    data = get_count()
    #print("data ",data)
    now_time = time.strftime("%H-%M" ,now)
    s = now_time+'\t' +''.join(data[1:])
    
    with open("countData.txt", 'a') as f:
        f.write('\n'+s)
        
    threading.Timer(second, execute_funct, [second]).start()

In [ ]:
driver = webdriver.PhantomJS('crawling/phantomjs-2.1.1-windows/bin/phantomjs')
execute_funct()

In [ ]:
l = []
line = ["09-10    124"]
l.append(line.split())
l

In [ ]:
l = []
with open("countData.txt", 'r') as f:
    lines = f.readlines()
    lines = lines[1:]
    
    for line in lines:
        row = line.split()
        if row : l.append([row[0], int(row[1])])

In [ ]:
len(l)
tmp = ['19-41', '224']
a, b = tmp
b

In [ ]:
import numpy as np
from scipy import stats
l = np.array(l)
type(l)
a = np.delete(l, 0)
a[0]

In [49]:
import pandas as pd

df = pd.read_table("countData.txt", '\t', index_col=False, names = ["date", "count"])
df

       date  count
0     19-41    224
1     19-43    224
2     19-44    224
3     19-45    224
4     19-45    222
5     19-46    222
6     19-46    222
7     19-47    222
8     19-47    222
9     19-48    222
10    19-48    222
11    19-49    222
12    19-49    222
13    19-50    222
14    19-50    222
15    19-51    222
16    19-51    222
17    19-52    222
18    19-52    222
19    19-53    222
20    19-53    222
21    19-54    222
22    19-54    222
23    19-55    222
24    19-55    222
25    19-56    222
26    19-56    222
27    19-57    222
28    19-57    222
29    19-58    222
...     ...    ...
3204  13-59     42
3205  14-00     42
3206  14-01     42
3207  14-02     42
3208  14-03     42
3209  14-04     42
3210  14-05     42
3211  14-06     42
3212  14-07     42
3213  14-08     42
3214  14-09     42
3215  14-10     42
3216  14-11     42
3217  14-12     42
3218  14-13     42
3219  14-14     42
3220  14-15     42
3221  14-16     42
3222  14-17     42
3223  14-18     42
3224  14-19     42
3225  14-20     40
3226  14-21     40
3227  14-22     40
3228  14-23     40
3229  14-24     40
3230  14-25     40
3231  14-26     40
3232  14-28     40
3233  14-29     40

[3234 rows x 2 columns]

In [50]:
df.isnull().sum()

date     0
count    0
dtype: int64

In [51]:
import datetime

In [52]:
da = datetime.datetime.strptime('19-41', "%H-%M")
da.strftime("%H-%M")

'19-41'

In [53]:
a,b = df.date[0].split('-')
a,b

('19', '41')

In [54]:
uniq_df = df.drop_duplicates(['count'], keep='first') 
uniq_df[:10]

      date  count
0    19-41    224
4    19-45    222
53   20-10    220
77   20-22    218
126  20-47    214
215  21-32    212
217  21-34    210
262  21-56    208
298  22-15    206
347  22-40    204

In [55]:
%matplotlib inline

In [62]:
uniq_df.date.duplicated().sum()

0

In [68]:
uniq_df['min'] = [i.split('-')[1] for i in uniq_df.date]

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [70]:
uniq_df['min']

count     76
unique    38
top       20
freq       5
Name: min, dtype: object